<!DOCTYPE html>
<html>
<head>
    <title>Scarcasm Detector</title>
</head>
<style>  
    .input{  
    text-align: center;    
    width: 300px;  
    height: 200px;  
    padding-top: 100px;  
    }  
  
</style>
<body style = "background-color:#03ecfc;">
    
    <form action="/submit">
        <div class = "input">
        <p>
            <label for="PotentialTweet">Potential Tweet</label><br>
            <input type="text" name="PotentialTweet">
        </p>
        

        <button type="submit">Make Prediction</button>
        </div>
    </form>
    
</body>
</html>
